*{
  margin:0;
  padding:0;
  border:0;
  font-size:16px;
  color:#100000;
  text-shadow: 1px 1px 1px #eee;
  font-family:sans-serif;

}
html{
  background:#666;
}
body{
  max-width:600px;
  margin:0 auto;
}
header{
  background:#ddd;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
}

article{
  padding:16px;
  padding-bottom:0;
  border:1px solid #ccc;
  border-top:0;
  margin:0 auto;
  background:#eee;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

h1{
  font-size:42px;
  padding:16px;
  text-align:center;
}

h2{
  font-size:24px;
  margin-bottom:8px;
}

textarea, section#output, input#modifier{
  font-family: 'Enriqueta', serif;
  font-size:16px;
  display:block;
  padding:7px;
  border:1px solid #ccc;
  margin-bottom:20px;
  resize:none;
  border-radius:4px;
  background:#fcfcfc;
}

textarea, section#output{  
  min-height:150px;
}

button{
  display:block;
  padding:8px 0;
  width:auto;
  margin-bottom:16px;
  color:#fff;
  background:#333;
  border-radius:4px;
  text-shadow:none;
}
textarea, 
section#output, 
input#modifier,
button{
  width:100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button:hover{
  background:#000;
  cursor:pointer;
}
span{
  display:block;
}

@media all and (max-width: 600px){
  article{
    border-radius:0;
  }
  button{
    padding: 16px 0;
  }
}
